@using ERPAnimalia.Models;

<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/gijgo/combined/gijgo.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/product.css" rel="stylesheet" />
    @model ProductModels
    <title>Producto</title>
   
</head>
<body>
    <script type="text/javascript">
        var gridProduct;

        $(document).ready(function () {

             gridProduct = $("#gridProduct").grid({
                 dataKey: "IdProducto",
                 fixedHeader: true,
                uiLibrary: "bootstrap",
                columns: [
                { field: "IdProducto", hidden: true },
                { field: "CodigoBarra", title: "Código de Barra", sortable: true, width: 90 },
                { field: "Codigo", title: "Código", sortable: true, width: 60 },
                { field: "Marca", title: "Marca", sortable: true, width: 80 },
                { field: "Descripcion1", title: "Descripcion", sortable: true, width: 120 },
                { field: "kg", title: "Kg", sortable: true, width: 30 },
                { field: "Cantidad", title: "Cant.", sortable: true, width: 40 },
                 { field: "PrecioVenta", title: "Precio Venta", tmpl: '$ {PrecioVenta}', cssClass: 'colVenta', sortable: true, width: 50 },
                { field: "PrecioCosto", title: "Precio Costo", tmpl: '$ {PrecioCosto}', cssClass: 'colCosto', sortable: true, width: 50 },
                { field: "RentabilidadPesos", title: "Renab$", tmpl: '$ {RentabilidadPesos}', sortable: true, width: 60 },
                { field: "Rentabilidad", title: "Renab%", tmpl: '% {Rentabilidad}', sortable: true, width: 70 },
                {
                    width: 30,icon: "glyphicon-pencil", type: "icon", align: 'center', events: {
                        'click': function (e) {
                            id = e.data.record.IdProducto;
                            location.href='@Url.Action("Edit","Product")?ids=' + id;
                        }
                    }
                },
                {
                    width: 30,  type: "icon", icon: "glyphicon-remove", align: 'center', events: {
                        'click': function (e) {
                            id = e.data.record.IdProducto;
                            location.href = '@Url.Action("Delete","Product")?id=' + id;
                        }
                    }
                }
                ],
                 selectionMethod: 'checkbox',
                 selectionType: 'multiple',
                pager: { limit: 40, sizes: [2, 5, 10, 20] }
            });

            $("#btnSearch").on("click", Search);
           
          
           
            $('#search').keypress(function (event) {
                if (event.keyCode == 13) {
                
                    Search();
                }
            });

            
        
        });

       
        function Search() {
            debugger;
            gridProduct.reload({ searchString: $("#search").val(), idCategory: $("#IdCategory").val(), idSubCategory: $("#IdSubCategory").val(), idTamanoMascota: $("#IdTamanoMascota").val() });
        }
        function ItemFacturar()
        {
            debugger;
            var idProducto = new Array();
            var selections = gridProduct.getSelections();
            var ids;
            if (selections.length != 0) {

                $(selections).each(function (index, element) {
                    debugger;
                    var row = gridProduct.get(element);
                    idProducto[index] = row.IdProducto;
                });
                location.href = '@Url.Action("CrearFactura", "Factura")?ids=' + idProducto;
            }
        }






    </script>

    
    <div class="panel panel-primary">
       
        <div class="panel-heading">
            <div class="topnav" id="barraTop">
                <a href='@Url.Action("Create", "Product")' class="active">Crear Nuevo Producto  </a>
                <a href="javascript:ItemFacturar()">Facturar Item</a>              
            </div>
        </div>
        <div class="panel-body">
            <form class="form-inline">

                <div class="form-group ">
                    <label for="desc">Categoria:</label>
                    @Html.DropDownListFor(model => model.IdCategory,
             new SelectList(Model.Category, "IdCategory", "Name"), new { @class = "form-control", type = "text", placeholder = "Seleccione Bola,Suelto,Accesorios", @onchange = "Search()" })
                </div>
                <div class="form-group">
                    <label for="desc">Subcategoria:</label>
                    @Html.DropDownListFor(model => model.IdSubCategory,
             new SelectList(Model.SubCategory, "IdSubCategory", "Name"), new { @class = "form-control", type = "text", placeholder = "Seleccione Categoria", @onchange = "Search()" })

                </div>
                
                <div class="form-group">
                    <label for="desc">Tamaño:</label>
                    @Html.DropDownListFor(model => model.IdTamanoMascota,
             new SelectList(Model.TamanoMascotaList, "IdTamanoMascota", "Nombre"), new { @class = "form-control", type = "text", placeholder = "Seleccione Tamaño", @onchange = "Search()" })

                </div>

                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Buscar por Marca">
                    <span class="input-group-btn">
                        <button type="button" id="btnSearch" class="btn btn-default">Buscar</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="table-responsive">
           <table id="gridProduct" data-source="@Url.Action("GetProduct")"></table>
       </div>
    </div>

        <br />       
          
        
 

</body>
</html>
