@using ERPAnimalia.Models;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Produtos</title>

    <script src="~/Scripts/gijgo/combined/gijgo.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

    <link href="~/Content/css/product.css" rel="stylesheet" />
    @model SucursalProductoModel
</head>
<body>
    <script type="text/javascript">
   
    </script>

    @using (Html.BeginForm("", "SucursalProducto", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <div class="form-group">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>

            <div class="col-md-6">

                
                <div class="form-group">
                    <label class="col-md-4" for="pwd">Producto </label>
                    @Html.TextBoxFor(m => m.Product.Descripcion1, new { @readonly = "readonly",@class = "form-control", type = "text", placeholder = "Ingrese Codigo Barra o código Producto"})
                </div>
                <div class="form-group">
                    <label class="col-md-4" for="pwd">Cantidad Total </label>
                    @Html.TextBoxFor(m => m.Cantidad, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    <label class="col-md-4" for="desc">Cantidad:</label>
                    @Html.TextBoxFor(m => m.Cantidad, new { @class = "form-control", placeholder = "Ingrese Cantidad" })
                </div>
                <div class="form-group">
                    <label class="col-md-4" for="desc">Sucursal Origen:</label>
                    @Html.DropDownListFor(model => model.Sucursal.IdSucursal,
             new SelectList(Model.ListSucModel, "IdSucursal", "Nombre"), new { @class = "form-control", type = "text", placeholder = "Seleccione Cachorro o Adulto" })
                </div>
                <div class="form-group">
                    <label class="col-md-4" for="desc">Sucursal Destino:</label>
                    @Html.DropDownListFor(model => model.Sucursal.IdSucursal,
             new SelectList(Model.ListSucModel, "IdSucursal", "Nombre"), new { @class = "form-control", type = "text", placeholder = "Seleccione Cachorro o Adulto" })
                </div>
                </div>
}
</body>
</html>
